h1 {
    text-align: center;
}

body {
    font-family: 'Courier New', monospace;
  }

.quote{
    font-family: Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 3px;
    text-align: center;
    overflow-wrap: break-word;
}

.game{
    display: flex;
    position: absolute;
    flex-direction: column;
    margin-left: 20px;
    row-gap: normal;
    align-items: baseline;
}

.scoreboard{
    margin-left: 25px;
}

.alert-text{
    color: red;
    font-weight: bold;
}


.new-quote-btn{
    width: 200px;
}

.go-to-scoreboard{
    width: 200px;
}

.name-input-box{
    margin-right: 5px;
}

.character-input-box{
    margin-right: 5px;
}

.input-and-button{
    flex-direction: row;
    width: 400px;
	flex-grow: 0;
	flex-shrink: 0;
}