h1 {
    text-align: center;
}

body {
    font-family: 'Courier New', monospace;
  }

.quote{
    font-family: Arial, sans-serif;
    font-size: 30px;
    letter-spacing: 3px
}

.game{
    margin-left: 25px;
}

.scoreboard{
    margin-left: 25px;
}